= render 'items/header'
.devise
  .block
    .block__title
      %h2 ログイン
    .block__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.email_field :email, autocomplete: "email", placeholder: "\uf0e0 E-Mail", class: "fa"
        .field
          = f.password_field :password, autocomplete: "new-password", placeholder: "\uf084 パスワード(８文字以上)", class: "fa"
        = f.submit "ログイン", class: "actions"
      .link
        %p
          新規登録がお済みでない方は
          = link_to "こちら", new_user_registration_path, class: "link__btn"