= render 'items/header'
.mypage
  .mypage__box
    .user-info
      .left
        = image_tag '/cosme-icon.png', class: 'left__icon'
        %p
          = current_user.nickname
      .right
        = link_to "#", class: 'edit' do
          編集
    .post-info
      .my-post
        .my-post__title
          %p おすすめしたコスメ
        .my-post__list
          - @items.each do |item|
            .list-one
              %label
                = link_to "#", class: "list-one__link" do
                  .list-one__link__image
                    = image_tag item.item_images.first.image.to_s, width: "240px", height: "132px", class: "list-one__image__photo"
                  .list-one__link__box
                    .list-one__link__box__text
                      = truncate(item.brand, length: 15)
                    .list-one__link__box__text
                      = truncate(item.name, length: 17)
                    .list-one__link__box__detail
                      = truncate(item.detail, length: 50)
        .my-post__page
          = paginate @items