.header
  .header__top
    .left
      = link_to root_path do
        = image_tag "/logo.png", class: "logo"
    .right
      - if user_signed_in?
        %label{class: 'user', id: 'user-name'}
          = icon('fas', 'user-alt',class: 'user__icon')
          = current_user.nickname
          .user__pulldown#pulldown
            .user__pulldown__mypage
              = link_to user_path(current_user.id) do
                マイページ
            .user__pulldown__logout
              = link_to destroy_user_session_path, method: :delete do
                ログアウト
        = link_to new_item_path, class: "post" do
          = icon('fas','pen', class: 'post__icon')
          投稿する
      - else
        = link_to new_user_registration_path, class: "new" do
          新規登録
        |
        = link_to new_user_session_path, class: "login" do
          ログイン