= render 'header'
.index-body
  .main
    .row
      .row__text
        %p おすすめのコスメを共有して
        %p あなたにぴったりなコスメと出会いますように
    .container
      .new-arrive
        .subtitle
          %h1 新着コスメ
        .groups
          - @items.each do |item|
            .group
              %label
                = link_to item_path(item.id), class: "group__box" do
                  .group__box__image
                    = image_tag item.item_images.first.image.to_s, class: "group__box__image--display"
                  .group__box__brand
                    = item.brand
                  .group__box__name
                    = item.name
                  .group__box__evaluation
                    おすすめ度 ★
                    = item.evaluation
        .all-btn
          - if @items.present?
            = link_to newitems_path, class: "all-btn__box" do
              新着コスメ一覧をみる
      .all-genre
        .subtitle
          %h1 ジャンル別コスメ
        .groups
          .group
            = link_to "#", class: "group__link" do
              化粧下地
          .group
            = link_to "#", class: "group__link" do
              コンシーラー
          .group
            = link_to "#", class: "group__link" do
              フェイスパウダー
          .group
            = link_to "#", class: "group__link" do
              ファンデーション
          .group
            = link_to "#", class: "group__link" do
              ハイライト・シェーディング
          .group
            = link_to "#", class: "group__link" do
              アイシャドウ
          .group
            = link_to "#", class: "group__link" do
              アイライナー
          .group
            = link_to "#", class: "group__link" do
              マスカラ
          .group
            = link_to "#", class: "group__link" do
              アイブロウ
          .group
            = link_to "#", class: "group__link" do
              口紅
          .group
            = link_to "#", class: "group__link" do
              リップケア・リップクリーム
          .group
            = link_to "#", class: "group__link" do
              リップグロス