= render 'header'
.index-body
  .main
    .row
      .row__text
        %p おすすめのコスメを共有して
        %p あなたにぴったりなコスメと出会いますように
    .container
      .new-arrive
        .subtitle
          %h1 新着コスメ
        .groups
          - @items.each do |item|
            .group
              %label
                = link_to item_path(item.id), class: "group__box" do
                  .group__box__image
                    = image_tag item.item_images.first.image.to_s, class: "group__box__image--display"
                  .group__box__brand
                    = item.brand
                  .group__box__name
                    = item.name
                  .group__box__evaluation
                    おすすめ度 ★
                    = item.evaluation
        .all-btn
          - if @items.present?
            = link_to newitems_path, class: "all-btn__box" do
              新着コスメ一覧をみる
      .all-genre
        .subtitle
          %h1 ジャンル別コスメ
        .groups
          .group
            .group__title
              ベースメイク
            .group__box
              .group__box__one
                = link_to category_path, class: "link" do
                  化粧下地
              .group__box__one
                = link_to category_path, class: "link" do
                  コンシーラー
              .group__box__one
                = link_to category_path, class: "link" do
                  フェイスパウダー
              .group__box__one
                = link_to category_path, class: "link" do
                  ファンデーション
              .group__box__one
                = link_to category_path, class: "link" do
                  ハイライト・シェーディング
              .group__box__one
                = link_to category_path, class: "link" do
                  チーク
          .group
            .group__title
              メイクアップ
            .group__box
              .group__box__one
                = link_to category_path, class: "link" do
                  アイシャドウ
              .group__box__one
                = link_to category_path, class: "link" do
                  アイライナー
              .group__box__one
                = link_to category_path, class: "link" do
                  マスカラ
              .group__box__one
                = link_to category_path, class: "link" do
                  アイブロウ
          .group
            .group__title
              口紅・リップ・グロス
            .group__box
              .group__box__one
                = link_to category_path, class: "link" do
                  口紅
              .group__box__one
                = link_to category_path, class: "link" do
                  リップケア・リップクリーム
              .group__box__one
                = link_to category_path, class: "link" do
                  リップグロス