= render 'header'
.index-body
  .main
    .row
      .row__text
        %p おすすめのコスメを共有して
        %p あなたにぴったりなコスメと出会いますように
    .container
      .new-arrive
        .subtitle
          %h1 新着コスメ
        .groups
          - @items.each do |item|
            .group
              %label
                = link_to item_path(item.id), class: "group__box" do
                  .group__box__image
                    = image_tag item.item_images.first.image.to_s, width: "150px", height: "100px", class: "group__box__image--display"
                  .group__box__brand
                    = item.brand
                  .group__box__name
                    = item.name
                  .group__box__evaluation
                    おすすめ度 ★
                    = item.evaluation
        .all-btn
          - if @items.present?
            = link_to "#", class: "all-btn__box" do
              新着コスメ一覧をみる