= render 'header'
.show-body
  .show-main
    .show-main__image
      .big-image
        = image_tag @item.item_images.first.image.to_s, class: 'big', id: 'bigimage'
      .small-image
        - @item.item_images.each do |image|
          = image_tag image.image.url, class: 'small', id: 'smallimage'
    .show-main__contents
      .product
        .product__name
          = @item.name
        .product__brand
          = @item.brand
        .product__evaluation
          おすすめ度 ★
          = @item.evaluation
        .product__detail
          = simple_format @item.detail
      .user-info
        .user-info__box
          .user-info__box__age
            = @item.age
          \/
          .user-info__box__skin-color
            = @item.skin_color
          \/
          .user-info__box__skin-condition
            = @item.skin_condition
          .user-info__box__links
            = link_to edit_item_path, class: "edit" do
              編集する
            = link_to item_path, method: :delete, class: "delete" do
              削除する
        .user-info__nickname
          = @item.user.nickname