= render 'header'
.show-body
  .show-main
    .show-main__image
      .big-image
        = image_tag @item.item_images.first.image.to_s, class: 'big'
      .small-image
        - @item.item_images.each do |image|
          = image_tag image.image.url, class: 'small'
    .show-main__contents
      .product
        .product__name
          = @item.name
        .product__brand
          = @item.brand
        .product__evaluation
          おすすめ度 ★
          = @item.evaluation
        .product__detail
          = simple_format @item.detail
      .user-info
        .user-info__box
          .user-info__box__age
            = @item.age
          \/
          .user-info__box__skin-color
            = @item.skin_color
          \/
          .user-info__box__skin-condition
            = @item.skin_condition
        .user-info__nickname
          = @item.user.nickname