= render 'header'
.show-body
  .show-main
    .show-main__image
      .big-image
        = image_tag @item.item_images.first.image.to_s, class: 'big', id: 'bigPic'
      .small-image
        - @item.item_images.each do |image|
          = image_tag image.image.url, class: 'small', id: 'thumb'
    .show-main__contents
      .product
        .product__name
          = @item.name
        .product__brand
          = @item.brand
        .product__evaluation
          おすすめ度 ★
          = @item.evaluation
        .product__detail
          = simple_format @item.detail
        .product__category
          \#
          = @item.category
        - if user_signed_in? && current_user.id == @item.user.id
          .product__links
            = link_to edit_item_path, class: "link" do
              = icon('fas', 'edit')
            \/
            = link_to item_path(@item), method: :delete, class: "link" do
              = icon('fas', 'trash-alt')
      .user-info
        .user-info__box
          .user-info__box__age
            = @item.age
          \/
          .user-info__box__skin-color
            = @item.skin_color
          \/
          .user-info__box__skin-condition
            = @item.skin_condition
        .user-info__nickname
          = @item.user.nickname