= render 'header'
.show-body
  .show-main
    .show-main__image
      .big-image
        = image_tag '/cosme.jpeg', class: 'big'
      .small-image
        = image_tag '/cosme.jpeg', width: "125px", height: "85px", class: 'small'
        = image_tag '/cosme.jpeg', width: "125px", height: "85px", class: 'small'
        = image_tag '/cosme.jpeg', width: "125px", height: "85px", class: 'small'
        = image_tag '/cosme.jpeg', width: "125px", height: "85px", class: 'small'
    .show-main__contents
      .product
        .product__name
          ジューシーラスティングティント
        .product__brand
          ロムアンド
        .product__evaluation
          おすすめ度 ★5.0
        .product__detail
          韓国コスメブランドのロムアンドのティントです！
      .user-info
        .user-info__box
          .user-info__box__age
            20代前半
          \/
          .user-info__box__skin-color
            ブルベ
          \/
          .user-info__box__skin-condition
            乾燥肌
        .user-info__nickname
          チミまろ