= render 'items/header'
.devise
  .block
    .block__title
      %h2 登録情報変更
    .block__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: @user
        .field
          = f.text_field :nickname, placeholder: "\uf007 ニックネーム", class: "fa"
        .field
          = f.email_field :email, autocomplete: "email", placeholder: "\uf0e0 E-Mail", class: "fa"
        .text
          %p パスワードを変更したい場合は入力してください
          %p パスワードを変更されない場合は空欄のままお進みください
        .field
          = f.password_field :password, autocomplete: "new-password", placeholder: "\uf084 パスワード(８文字以上)", class: "fa"
        .field
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "\uf084 パスワード(８文字以上)", class: "fa"
        = f.submit "変更する", class: "actions"
      .btn
        = button_to "このアカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn__delete"
    .block__row
      = link_to :back, class: "back" do
        = icon('far', 'arrow-alt-circle-left', class: 'back--icon')
        %p もどる
