= render 'items/header'
.devise
  .block
    .block__title
      %h2 新規会員登録
    .block__form
      = form_for @personal do |f|
        = render "devise/shared/error_messages", resource: @personal
        .field
          = f.select(:age, [["10代前半","10代前半"],["10代後半","10代後半"],["20代前半","20代前半"],["20代後半","20代後半"],["30代前半","30代前半"],["30代後半","30代後半"],["40代前半","40代前半"],["40代後半","40代後半"],["50代前半","50代前半"],["50代後半","50代後半"],["60代前半","60代前半"],["60代後半","60代後半"],["70代前半","70代前半"],["70代後半","70代後半"]],{ prompt: "年齢を選択してください"},{class:"fa"})
        .field
          = f.select(:skin_color, [["イエベ春","イエベ春"],["ブルベ夏","ブルベ夏"],["イエベ秋","イエベ秋"],["ブルベ冬","ブルベ冬"],["イエベ","イエベ"],["ブルベ","ブルベ"]], {prompt: "パーソナルカラーを選択してください"}, {class: "fa"})
        .field
          = f.select(:skin_condition, [["乾燥肌","乾燥肌"],["普通肌","普通肌"],["脂性肌","脂性肌"],["混合肌","混合肌"],["敏感肌","敏感肌"]], {prompt: "肌質を選択してください"}, {class: "fa"})
        .text
          %p ※ここで選択していただいた情報は後から変更可能です
        = f.submit "登録する", class: "actions"